<div class="container">
   <div class="row">
       <div class="col-lg-8 col-md-12 mx-auto my-5">
        <div class="jumbotron">
            <h1 class="display-4">Customers</h1>
            <p class="lead">
                Brieaf description about the system........
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel interdum ante. Vivamus vel porttitor velit, aliquam egestas libero. Nam aliquet nisl et sapien aliquet elementum.
            </p>            
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary rounded-0" [routerLink]="['customers']" role="button">Customers</a>
            </p>
          </div>
       </div>
   </div>
</div>